<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.3.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js')}}" type="text/javascript"></script>
    
    <style>
        body{
            padding: 0%;
            align-items: center;
        }
        
        button, input{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .flex-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0px;
        }
        .input{
            margin-left: 50px;
        }
        h2{
            margin-left: 50px;
        }
    </style>
</head>
<body>
<div class="input">
    <form action="/updt/{{ record.id }}" method="POST">
        <label for="name">Plant name: </label><br>
        <select id = "name" type="text" name="name" placeholder="Name" class="Input" >
            {% for i in plantsdata %}
            <option value="{{ i.name }}" {% if i.name == record.name %} selected {% endif %}> {{i.name}}</option>
            {% endfor %}
        </select> <br>
        
        <button class="btn btn-secondary" type="submit">Update</button>
        <a href="{{ url_for('delete', id_num=record.id)}}" class="btn btn-danger">Delete</a>
    </form>
</div>
</body>
</html>