<!DOCTYPE html>
<html>

<head>
    <script src="{{ url_for('static', filename='js/jquery-3.6.3.js')}}" type="text/javascript"></script>
    <style>
        #content {
            margin: auto;
        }

        #naslov {
            text-align: center;
        }
        button.link { background:none; border:none; font-size: 45px;   }
    </style>
</head>

<body>
    <div id="content">
        <div id="naslov">
            <button class="link">Blue - Green Wall</button>
        </div>
        <p class="data"></p>
        <div>
            <canvas id="canvas"></canvas>
        </div>
        <canvas id="canvas"></canvas>
    </div>
    <script>
        $(".link").on("click", function(e) {
            $.post("./start", function (data) {
                console.log(data)
            })
        });
        var lines = 1 //če je 1 izrisuje črte za pot
        var debug = 0 //če je 1 izpise stevilko pod pini
        var colors = ["#75EB00", "#53BBF4", "#FF85CB", "#FF432E", "#FFAC00",];
        var pinLocations = []
        var pinLocationsLegs = [[], [], [], [], [], []]
        var sensorIds = [54, 55, 56, 57, 58, 59]
        var brokenSensorLoc = []
        var spiderPins = []
        var goalPin = []
        var goalPinDraw = []
        var sensorLoc = []
        var lastData = []
        var scale = 2.8
        var pad = 20
        var yDim = 25
        var xDim = 20
        var numPinsY = 13
        var numPinsX = 21
        var start = 20
        var lastPinData = []
        var goalIndex = 0
        var spiderLocation = []
        var canvas = document.getElementById("canvas");
        canvas.width = 450 * scale;
        canvas.height = 350 * scale;
        var ctx = canvas.getContext("2d");
        var content = document.getElementById("content")
        content.style.width = 22 * scale + '%';
        for (var x = 0; x < numPinsX; x++) {
            for (var y = numPinsY - 1; y >= 0; y--) {
                pinLocations.push([pad + x * xDim * scale, pad + y * yDim * scale])
            }
        }

        function draw(data, lastData, brokenSensorLoc) {
            
            for(var i = 0; i<data.length;i++){
                console.log(data[i])
                    var date = new Date(data[i]["lastAlive"]*1000)
                    var dateNow = new Date()
                    var change = (dateNow.getTime()-date.getTime())/1000
                    ctx.beginPath()
                    if(data[i]["cap"]>80){
                        ctx.fillStyle = "#56fc03";
                        ctx.strokeStyle = "#56fc03";
                    }
                    else if(data[i]["cap"]<=20){
                        ctx.fillStyle = "#562b03";
                        ctx.strokeStyle = "#562b03";
                    }
                    else if(data[i]["cap"]<=80 && data[i]["cap"]>60){
                        ctx.fillStyle = "#56c903";
                        ctx.strokeStyle = "#56c903";
                    }
                    else if(data[i]["cap"]>20 && data[i]["cap"]<=60){
                        ctx.fillStyle = "#567b03";
                        ctx.strokeStyle = "#567b03";
                    }
                    if (change > 300){
                        ctx.fillStyle = "red";
                        ctx.strokeStyle = "red";
                    }
                    ctx.moveTo(data[i]["x"] * 100 * scale + pad, (12 * yDim * scale + 20) - ((data[i]["y"]) * 100 * scale - 7.5 * scale))
                    ctx.arc(data[i]["x"] * 100 * scale + pad, (12 * yDim * scale + 20) - ((data[i]["y"]) * 100 * scale - 7.5 * scale),2 * scale, 0, 2 * Math.PI)
                    ctx.fill()
                    ctx.stroke()
                    ctx.closePath()
                    ctx.beginPath()
                    ctx.font = "10px serif";
                    ctx.fillStyle="gray"
                    ctx.fillText(data[i]["cap"],data[i]["x"] * 100 * scale + pad +1.5*scale,(12 * yDim * scale + 20) - ((data[i]["y"]) * 100 * scale - 7.5 * scale)+5*scale)
                    ctx.fill()
                    ctx.stroke()
                    ctx.closePath()
                
            }
            
        }

        function update() {
            $.get("./spiderPos", function (data) {
                try {
                    if (JSON.stringify(data["pose"]) != JSON.stringify(lastPinData)) {
                        spiderLocation.unshift([data["pose"][0], data["pose"][1]])
                        spiderPins = []
                        spiderPins = [...data["pins"]]
                    }
                    while (spiderLocation.length > 50) {
                        spiderLocation.pop()
                    }
                    lastPinData = []
                    lastPinData = [...data["pose"]]
                }
                catch {
                    console.log("error getting spider position")
                }
            });

            $.get("./update", function (data) {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                ctx.lineWidth = 1;
                for (let i = 0; i < spiderLocation.length; i++) {
                    console.log(spiderLocation.length)
                    var opacity = 1 / (i + 1);
                    ctx.fillStyle = "#2f547d"
                    ctx.fillStyle = `rgba(47, 84, 125, ${opacity})`;
                    ctx.beginPath()
                    ctx.arc(spiderLocation[i][0] * 100 * scale + pad, (12 * yDim * scale + 20) - (spiderLocation[i][1] * 100 * scale), 10 * scale, 0, 2 * Math.PI)
                    ctx.lineWidth = 0;
                    ctx.fill()
                    ctx.closePath()
                }
                console.log(data)
                draw(data, lastData, brokenSensorLoc);
                lastData = []
                lastData = [...data]
                ctx.font = "10px serif";
                ctx.beginPath()
                ctx.fillStyle="gray"
                for (var i = 0; i < pinLocations.length; i++) {
                    ctx.moveTo(pinLocations[i][0], pinLocations[i][1])
                    ctx.arc(pinLocations[i][0], pinLocations[i][1], 2, 0, 2 * Math.PI)
                    if(debug==1){
                        ctx.fillText(i.toString(),pinLocations[i][0]-1.5*scale, pinLocations[i][1]+5*scale);
                        ctx.fill()
                    }
                }
                ctx.moveTo(10, 10);
                ctx.lineTo(10, 30 + (numPinsY - 1) * yDim * scale);
                ctx.moveTo(10, 10);
                ctx.lineTo(30 + (numPinsX - 1) * xDim * scale, 10);
                ctx.moveTo(10, 30 + (numPinsY - 1) * yDim * scale);
                ctx.lineTo(30 + (numPinsX - 1) * xDim * scale, 30 + (numPinsY - 1) * yDim * scale);
                ctx.moveTo(30 + (numPinsX - 1) * xDim * scale, 10);
                ctx.lineTo(30 + (numPinsX - 1) * xDim * scale, 30 + (numPinsY - 1) * yDim * scale);
                ctx.moveTo(50 + ((numPinsX / 3) - 1) * xDim * scale, 10);
                ctx.lineTo(50 + ((numPinsX / 3) - 1) * xDim * scale, 30 + (numPinsY - 1) * yDim * scale)
                ctx.moveTo(30 + ((numPinsX / 3) * 2 - 1) * xDim * scale, 10);
                ctx.lineTo(30 + ((numPinsX / 3) * 2 - 1) * xDim * scale, 30 + (numPinsY - 1) * yDim * scale)
                ctx.moveTo(10, 30 + 6 * yDim * scale);
                ctx.lineTo(30 + (numPinsX - 1) * xDim * scale, 30 + 6 * yDim * scale);
                ctx.strokeStyle = "black"
                ctx.stroke()
                //console.log(data)
                
                ctx.closePath()
                ctx.beginPath()
                
                
                ctx.fill()
                ctx.stroke()
                ctx.closePath()
                if (lines ==1){
                    ctx.beginPath()
                    console.log(goalPinDraw)
                    ctx.strokeStyle = "pink"
                    start = 20;
                    ctx.lineWidth = 1 * scale;
                    for (var i = 0; i < goalPinDraw.length; i++) {
                        if (i != goalPinDraw.length - 1) {
                            ctx.moveTo(JSON.parse(goalPinDraw[i])["x"] * 100 * scale + pad, (12 * yDim * scale + 20) - ((JSON.parse(goalPinDraw[i])["y"]) * 100 * scale - 7.5 * scale))
                            ctx.lineTo(JSON.parse(goalPinDraw[i+1])["x"] * 100 * scale + pad, (12 * yDim * scale + 20) - ((JSON.parse(goalPinDraw[i+1])["y"]) * 100 * scale - 7.5 * scale))
                        }
                    }
                    ctx.moveTo(JSON.parse(goalPinDraw[goalPinDraw.length - 1])["x"] * 100 * scale + pad, (12 * yDim * scale + 20) - ((JSON.parse(goalPinDraw[goalPinDraw.length - 1])["y"]) * 100 * scale - 7.5 * scale))
                    ctx.lineTo(JSON.parse(goalPinDraw[0])["x"] * 100 * scale + pad, (12 * yDim * scale + 20) - ((JSON.parse(goalPinDraw[0])["y"]) * 100 * scale - 7.5 * scale))
                    ctx.fill();
                    ctx.stroke();
                    ctx.closePath()
                    ctx.lineWidth = 1;
                }
                for (var i = 0; i < goalPinDraw.length; i++) {
                    ctx.beginPath()
                    console.log(goalIndex, "  ", i)
                    if (goalIndex == i) {
                        console.log("here")
                        ctx.fillStyle = "#0080ff"
                        ctx.strokeStyle = "#0080ff"
                    }
                    else {
                        ctx.fillStyle = "pink";
                        ctx.strokeStyle = "pink"
                    }
                    ctx.moveTo(JSON.parse(goalPinDraw[i])["x"] * 100 * scale + pad, (12 * yDim * scale + 20) - ((JSON.parse(goalPinDraw[i])["y"] - 0.075) * 100 * scale))
                    ctx.arc(JSON.parse(goalPinDraw[i])["x"] * 100 * scale + pad, (12 * yDim * scale + 20) - ((JSON.parse(goalPinDraw[i])["y"] - 0.075) * 100 * scale), 3 * scale, 0, 2 * Math.PI)
                    ctx.fill();
                    ctx.stroke();
                    ctx.closePath()
                }
                
            });

            $.get("./goal", function (data) {
                console.log(data)
                
                goalPin = []
                goalPin = [...data[0]]
                goalIndex = data[1]
                console.log(goalIndex)
                console.log(goalPin)
                if (JSON.stringify(goalPin) != JSON.stringify(goalPinDraw) && goalPin != []) {
                    goalPinDraw = []
                    goalPinDraw = [...goalPin]
                }
            });
        }
        update();
        var inrvalId = setInterval(function () {
            update();

        }, 2000)
    </script>
</body>

</html>