<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="{{ url_for('static', filename='js/jquery-3.6.3.js')}}" type="text/javascript"></script>
  <style>
    #telematics {
      margin-left: 50px;
      float: left;
      text-align: start;
      position: relative;
      
    }
    

    #naslov {
      text-align: center;
    }

    button.link {
      background: none;
      border: none;
      font-size: 45px;
    }
    
p{font-size: 14px;}
h3{font-size: 18px;}

.child {
    flex: 1;
    width: 200px;
    
    margin-right: 20px;
}  
    
  </style>
</head>
<body>
  <div id="#content" style="text-align:right; margin-right: 20px;">
    <div id="grid" style="float: right;">
      <div id="naslov">
        <button class="link">Blue - Green Wall</button>
      </div>
      <svg style="float:right; padding-top: 10px" id="canv" xmlns="http://www.w3.org/2000/svg">
      </svg>
    </div>
    <div id="tele" style="float: left;">
      <div id="telematics">
        <div>
          <p>Location: ArsElectronica</p>
          <p id="date"></p>
        </div>
        <h2>Telematics</h2>
        <h3>SpiderBot:</h3>
        <div>
          <p>Status: <span id="status"></span></p>
          <p>Voltage: <span id="voltage"></span> V</p>
          <p>No. of movements on current route: <span id="moves"></span></p>
          <p>No. of meters walked since last reset: <span id="walked"></span>m</p>
          <p>Next route: <span id="routeNext"></span></p>
          <p>current route: <span id="routeCurr"></span></p>
        </div>
        <h3>Vegetation:</h3>
        <div>
          <p>Number of plants: <span id="plantsNo"></span></p>
          <p>Water usage total: <span id="water"></span>L</p>
        </div>
        <h3>Environment:</h3>
        <div class="container">
            <p>Temperature: <span id="temp"></span> &#8451;</p>
            <p>Humidity: <span id="hum"></span> % RH</p>
            
            <p>Oxygen: <span id="oxy1"></span> %vol</p>
            <p>CO2: <span id="co1"></span> ppm</p>
          </div>
        </div>
      </div>
      
    </div>
    <script>
      var date = new Date()
      var yr = date.getFullYear()
      var m = date.getMonth() + 1
      var d = date.getDate()
      document.getElementById("date").innerHTML = "Date: " + d + "/" + m + "/" + yr;
    </script>

    <script src="{{ url_for('static', filename='js/index.js')}}" type="text/javascript"></script>
  </div>
</body>

</html>